BancaSeguro.Aplicacion/BancaSeguros.Sincronizacion/Service References/ServicioSincronizacion/ServicioSincronizacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60524/Sincronizacion/ServicioSincronizacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" />
  <xs:element name="SincronizarCatalogos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SincronizarCatalogosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" minOccurs="0" name="SincronizarCatalogosResult" nillable="true" type="q1:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>