BancaSeguro.Aplicacion/BancaSegurosUI/Service References/ServicioControlDual/ServicioControlDual3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.Administracion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.Administracion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60524/ControlDual/ServicioControlDual.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" />
  <xs:complexType name="AprobacionDual">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatosObjeto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatosObjetoActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAprobacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitudFinal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitudInicial" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdAprobacionDual" type="xs:int" />
      <xs:element minOccurs="0" name="IdMenu" type="xs:int" />
      <xs:element minOccurs="0" name="NombreMenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreObjeto" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" minOccurs="0" name="Resultado" nillable="true" type="q1:Resultado" />
      <xs:element minOccurs="0" name="UsuarioAprueba" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioEnvia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AprobacionDual" nillable="true" type="tns:AprobacionDual" />
</xs:schema>