BancaSeguro.Aplicacion/BancaSegurosUI/Service References/ServicioControlDual/ServicioControlDual.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioControlDual" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60524/ControlDual/ServicioControlDual.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60524/ControlDual/ServicioControlDual.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60524/ControlDual/ServicioControlDual.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" />
      <xsd:import schemaLocation="http://localhost:60524/ControlDual/ServicioControlDual.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.Administracion" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioControlDual_InsertarRegistroEfectivo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarRegistroEfectivo" />
  </wsdl:message>
  <wsdl:message name="IServicioControlDual_InsertarRegistroEfectivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarRegistroEfectivoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioControlDual_ActualizarRegistroEfectivo_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRegistroEfectivo" />
  </wsdl:message>
  <wsdl:message name="IServicioControlDual_ActualizarRegistroEfectivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRegistroEfectivoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioControlDual_ActivarRegistroEfectivo_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivarRegistroEfectivo" />
  </wsdl:message>
  <wsdl:message name="IServicioControlDual_ActivarRegistroEfectivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivarRegistroEfectivoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioControlDual_EliminarRegistroEfectivo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRegistroEfectivo" />
  </wsdl:message>
  <wsdl:message name="IServicioControlDual_EliminarRegistroEfectivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRegistroEfectivoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioControlDual_ConsultarRegistroControlDualPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarRegistroControlDualPorId" />
  </wsdl:message>
  <wsdl:message name="IServicioControlDual_ConsultarRegistroControlDualPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarRegistroControlDualPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioControlDual">
    <wsdl:operation name="InsertarRegistroEfectivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioControlDual/InsertarRegistroEfectivo" message="tns:IServicioControlDual_InsertarRegistroEfectivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioControlDual/InsertarRegistroEfectivoResponse" message="tns:IServicioControlDual_InsertarRegistroEfectivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarRegistroEfectivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioControlDual/ActualizarRegistroEfectivo" message="tns:IServicioControlDual_ActualizarRegistroEfectivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioControlDual/ActualizarRegistroEfectivoResponse" message="tns:IServicioControlDual_ActualizarRegistroEfectivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivarRegistroEfectivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioControlDual/ActivarRegistroEfectivo" message="tns:IServicioControlDual_ActivarRegistroEfectivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioControlDual/ActivarRegistroEfectivoResponse" message="tns:IServicioControlDual_ActivarRegistroEfectivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRegistroEfectivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioControlDual/EliminarRegistroEfectivo" message="tns:IServicioControlDual_EliminarRegistroEfectivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioControlDual/EliminarRegistroEfectivoResponse" message="tns:IServicioControlDual_EliminarRegistroEfectivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarRegistroControlDualPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioControlDual/ConsultarRegistroControlDualPorId" message="tns:IServicioControlDual_ConsultarRegistroControlDualPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioControlDual/ConsultarRegistroControlDualPorIdResponse" message="tns:IServicioControlDual_ConsultarRegistroControlDualPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioControlDual" type="tns:IServicioControlDual">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarRegistroEfectivo">
      <soap:operation soapAction="http://tempuri.org/IServicioControlDual/InsertarRegistroEfectivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRegistroEfectivo">
      <soap:operation soapAction="http://tempuri.org/IServicioControlDual/ActualizarRegistroEfectivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarRegistroEfectivo">
      <soap:operation soapAction="http://tempuri.org/IServicioControlDual/ActivarRegistroEfectivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRegistroEfectivo">
      <soap:operation soapAction="http://tempuri.org/IServicioControlDual/EliminarRegistroEfectivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarRegistroControlDualPorId">
      <soap:operation soapAction="http://tempuri.org/IServicioControlDual/ConsultarRegistroControlDualPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioControlDual">
    <wsdl:port name="BasicHttpBinding_IServicioControlDual" binding="tns:BasicHttpBinding_IServicioControlDual">
      <soap:address location="http://localhost:60524/ControlDual/ServicioControlDual.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>