BancaSeguro.Aplicacion/BancaSegurosUI/Service References/ServicioControlDual/ServicioControlDual.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60524/ControlDual/ServicioControlDual.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" />
  <xs:import schemaLocation="http://localhost:60524/ControlDual/ServicioControlDual.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.Administracion" />
  <xs:element name="InsertarRegistroEfectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAprobacionDual" type="xs:int" />
        <xs:element minOccurs="0" name="usuarioAprueba" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarRegistroEfectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" minOccurs="0" name="InsertarRegistroEfectivoResult" nillable="true" type="q1:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRegistroEfectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAprobacionDual" type="xs:int" />
        <xs:element minOccurs="0" name="usuarioAprueba" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRegistroEfectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" minOccurs="0" name="ActualizarRegistroEfectivoResult" nillable="true" type="q2:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarRegistroEfectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAprobacionDual" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarRegistroEfectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" minOccurs="0" name="ActivarRegistroEfectivoResult" nillable="true" type="q3:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRegistroEfectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAprobacionDual" type="xs:int" />
        <xs:element minOccurs="0" name="usuarioAprueba" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRegistroEfectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" minOccurs="0" name="EliminarRegistroEfectivoResult" nillable="true" type="q4:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRegistroControlDualPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAprobacionDual" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRegistroControlDualPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.Administracion" minOccurs="0" name="ConsultarRegistroControlDualPorIdResult" nillable="true" type="q5:AprobacionDual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>