BancaSeguro.Aplicacion/BancaSegurosUI/Service References/ServicioAdministracion/ServicioAdministracion5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.Venta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.Venta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60524/Administracion/ServicioAdministracion.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:60524/Administracion/ServicioAdministracion.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" />
  <xs:import schemaLocation="http://localhost:60524/Administracion/ServicioAdministracion.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.Catalogo" />
  <xs:complexType name="ResultadoDocumentoPoliza">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_ArchivoPolizaPdf_x003E_k__BackingField" nillable="true" type="q1:ArrayOfunsignedByte" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_ImagenPoliza_x003E_k__BackingField" nillable="true" type="q2:ArrayOfunsignedByte" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.General" name="_x003C_Resultado_x003E_k__BackingField" nillable="true" type="q3:Resultado" />
      <xs:element name="_x003C_RutaArchivo_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoDocumentoPoliza" nillable="true" type="tns:ResultadoDocumentoPoliza" />
  <xs:complexType name="ArrayOfProductoNoPermitido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoNoPermitido" nillable="true" type="tns:ProductoNoPermitido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoNoPermitido" nillable="true" type="tns:ArrayOfProductoNoPermitido" />
  <xs:complexType name="ProductoNoPermitido">
    <xs:sequence>
      <xs:element name="_x003C_Login_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.Catalogo" name="categoria" nillable="true" type="q4:Categoria" />
      <xs:element name="idSeguro" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.Catalogo" name="producto" nillable="true" type="q5:Producto" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BancaSeguros.Entidades.Catalogo" name="subProducto" nillable="true" type="q6:SubProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoNoPermitido" nillable="true" type="tns:ProductoNoPermitido" />
</xs:schema>