BancaSeguro.Aplicacion/BancaSegurosUI/Service References/ServicioVenta/ServicioVenta5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BAC.EntidadesSeguridad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BAC.EntidadesSeguridad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Oficina">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="codigo" nillable="true" type="xs:string" />
      <xs:element name="idOficina" type="xs:int" />
      <xs:element name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Oficina" nillable="true" type="tns:Oficina" />
</xs:schema>