BancaSeguro.Aplicacion/BancaSeguros.Aplicacion/Service References/ServicioCobisCliente/commonDTO1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://dto2.commons.ecobis.cobiscorp" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="MessageTO">
    <sequence>
      <element minOccurs="0" name="code" type="string" />
      <element minOccurs="0" name="message" type="string" />
      <element minOccurs="0" name="type" type="string" />
    </sequence>
  </complexType>
</schema>